<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <div class="logo">
                    <img src="/img/Supplement-sports.png" alt="logo">
                </div>
                <div>
                    <ul>
                        <li>
                            <a href="">Link 1</a>
                        </li>
                        <li>
                            <a href="">Link 2</a>
                        </li>
                        <li>
                            <a href="">Link 3</a>
                        </li>
                        <li>
                            <a href="">Link 4</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <form action="">
                <div>
                    <div>
                        <input type="text" name="username" id="username" placeholder="Usuario">
                    </div>
                    <div>
                        <input type="text" name="password" id="password" placeholder="Contraseña">
                    </div>
                    <input type="submit" value="Entrar">
                </div>
            </form>
        </div>
    </main>
</body>

</html>