<!DOCTYPE html>

<html>
     <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <title>SupplmentSports</title>
          <meta name="description" content="/css/styles.css">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="/css/styles.css">
          <script src="https://kit.fontawesome.com/592bbc45d4.js" crossorigin="anonymous"></script>
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
     </head>
     <body>
          <header>
               <div class="container">
                    <nav>
                        <div class="logo">
                            <img src="/img/Supplement-sports.png" alt="logo">
                        </div>
                        <div>
                            <ul>
                                <li>
                                    <a href="">Crea tu Cuenta</a>
                                </li>
                                <li>
                                    <a href="">Ingresa</a>
                                </li>
                                <li>
                                    <a href="">Mis Compras</a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
          </header>
          <main>
               <!-- Banner de principal de la pagina con las ofertas o noticias destacadas -->
               <div>
                    <img src="/img/img-home-banner.jpg" alt="Imagen Banner" width="20%">
               </div>

               <!-- Seccion de los productos destacados -->
               <h1>Productos Destacados</h1>
               <section>
                    <article>
                         <div>
                              <img src="/img/img-proteinas-2.jpg" alt="Imagen Proteinas2">
                              <p>Producto 1</p>
                              <p>$9999</p>
                              <button type="submit" class="comprar">
                                   <span>Comprar</span>
                              </button>
                         </div>
                    </article>
                    <article>
                         <div>
                              <img src="/img/img-proteinas-3.jpg" alt="Imagen Proteinas3">
                              <p>Producto 2</p>
                              <p>$9999</p>
                              <button type="submit" class="comprar">
                                   <span>Comprar</span>
                              </button>
                         </div>
                    </article>
                    <article>
                         <div>
                              <img src="/img/img-proteinas-4.jpeg" alt="Imagen Proteinas4">
                              <p>Producto 3</p>
                              <p>$9999</p>
                              <button type="submit" class="comprar">
                                   <span>Comprar</span>
                              </button>
                         </div>
                    </article>                
                    <article>
                         <div>
                              <img src="/img/img-proteinas-2.jpg" alt="Imagen Proteinas2">
                              <p>Producto 4</p>
                              <p>$9999</p>
                              <button type="submit" class="comprar">
                                   <span>Comprar</span>
                              </button>
                         </div>
                    </article>
                    <article>
                         <div>
                              <img src="/img/img-proteinas-3.jpg" alt="Imagen Proteinas3">
                              <p>Producto 5</p>
                              <p>$9999</p>
                              <button type="submit" class="comprar">
                                   <span>Comprar</span>
                              </button>
                         </div>
                    </article>
                    <article>
                         <div>
                              <img src="/img/img-proteinas-4.jpeg" alt="Imagen Proteinas4">
                              <p>Producto 6</p>
                              <p>$9999</p>
                              <button type="submit" class="comprar">
                                   <span>Comprar</span>
                              </button>
                         </div>
                    </article>   
               </section>
               <!-- Seccion de inscripcion al newsletter de la pagina -->
               <section>
                    <p>SUSCRIPCION Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident error magnam eligendi quia dolorem quos illo sit dolorum in repudiandae quasi ipsam ullam tempora architecto, tempore aspernatur praesentium rem molestias!</p>

                    <form action="#" method="post" class="register-news">
                         <div class="control-form">
                              <input type="email" name="email" id="email" placeholder="E-mail" class="control" required>
                              <button type="submit">
                                   <span>Suscribirte</span>
                              </button>
                         </div>
                    </form>
               </section>
               <!-- Seccion de las noticias del cuidado personal -->
               <section>
                    <h1>Noticias cuidado personal</h1>
                    <article>
                         <img src="/img/img-post-1.jpg" alt="imagen noticia">
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, in magni earum temporibus eveniet sint iure pariatur iusto</p>
                         <a href="">
                              <p>ver mas..</p>
                         </a>
                    </article>
                    <article>
                         <img src="/img/img-post-1.jpg" alt="imagen noticia">
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, in magni earum temporibus eveniet sint iure pariatur iusto</p>
                         <a href="">
                              <p>ver mas..</p>
                         </a>
                    </article>
                    <article>
                         <img src="/img/img-post-1.jpg" alt="imagen noticia">
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, in magni earum temporibus eveniet sint iure pariatur iusto</p>
                         <a href="">
                              <p>ver mas..</p>
                         </a>
                    </article>
               </section>
               <!-- Seccion de los comentarios sobre los productos -->
               <section>
                    <h1>Comentarios</h1>
                    <div>
                         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro totam ullam, officia suscipit laborum corporis quaerat, consequuntur</p>
                         <i class="fa-solid fa-star"></i>
                         <i class="fa-solid fa-star"></i>
                         <i class="fa-solid fa-star"></i>
                         <p>Lorem Ipsum</p>
                    </div>
                    <div>
                         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro totam ullam, officia suscipit laborum corporis quaerat, consequuntur</p>
                         <i class="fa-solid fa-star"></i>
                         <i class="fa-solid fa-star"></i>
                         <i class="fa-solid fa-star"></i>
                         <i class="fa-solid fa-star"></i>
                         <p>Lorem Ipsum</p>
                    </div>
                    <div>
                         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro totam ullam, officia suscipit laborum corporis quaerat, consequuntur</p>
                         <i class="fa-solid fa-star"></i>
                         <i class="fa-solid fa-star"></i>
                         <i class="fa-solid fa-star"></i>
                         <i class="fa-solid fa-star"></i>
                         <p>Lorem Ipsum</p>
                    </div>
               </section>
          </main>
          <footer>
               <div>
                    <img src="/img/Supplement-sports.png" alt="Logo">
               </div>
               <div>
                    <ul>
                    <li>
                         <a href="#" title="Inicia Sesión">Inicia Sesión</a>
                    </li>
                    <li>
                         <a href="#" title="Mi Cuenta">Mi Cuenta</a>
                    </li>
                    <li>
                         <a href="#" title="Carrito">Carrito</a>
                    </li>
                    </ul>
               </div>
               <div>
                    <ul>
                         <li>
                              <a href="#" title="Contactanos">Contactanos</a>
                         </li>
                         <li>
                              <a href="#" title="Sobre nosotros">Sobre nosotros</a>
                         </li>
                         <li>
                              <a href="#" title="Terminos y condiciones">Terminos y condiciones</a>
                         </li>
                    </ul>    
               </div>
               <div>
                   <a href="#" title="Facebook" target="_blank">
                         <i class="fa-brands fa-facebook"></i>
                   </a>
                   <a href="#" title="Instagram" target="_blank">
                         <i class="fa-brands fa-instagram"></i>
                   </a>
                   <a href="#" title="Twitter" target="_blank">
                         <i class="fa-brands fa-twitter"></i>
                   </a>
               </div>
               <div>
                    <p>©Supplementsports 2023 - Tienda de Suplementos, deporte y estilo de vida. Todos los derechos reservador.</p>
               </div>
                    
          </footer>
         
     </body>
</html>