<!DOCTYPE html>

<html>
    <head>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <title>SupplmentSports</title>
          <meta name="description" content="/css/styles.css">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="/css/productCart.css">
          <script src="https://kit.fontawesome.com/592bbc45d4.js" crossorigin="anonymous"></script>
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="main-header">
            <div class="main-header-div">
                <section class="icon-button-header">
                    <figure class="settings-icon">
                        <i class="fa-solid fa-bars" ></i>
                    </figure>
                </section>
                <section class="main-header-logo">
                    <figure class="fig-header-logo">
                        <a href="#">
                            <img src="/img/Supplement-sports.png" alt="logo" class="logo">
                        </a>
                    </figure>
                </section>
                <section class="search-button-header">
                    <figure class="search-settings-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </figure>
                    <figure class="settings-icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </figure>
                </section>
                <nav class="main-navbar">
                    <ul class="main-navbar-ul">
                        <li ><a href="" class="text-main-navbar-ul">Crea tu Cuenta</a></li>
                        <li ><a href="" class="text-main-navbar-ul">Ingresa</a></li>
                        <li ><a href="" class="text-main-navbar-ul">Mis Compras</a></li>
                        <li ><a href="" class="text-main-navbar-ul"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    </ul>
                </nav>
            </div>
        </header>
    <main>
        <h2>Carrito de Compras</h2>
        <section class="car-product-articles">
           <section class="section-articles">
                <article class="product-car">
                    <figure>
                        <img src="/img/img-carrito-1.jpg" alt="imagen de proteina 1"   class="img-product-car">
                    </figure>
                    <section class="description-car-product">
                        <p class="description-product-proteina-1">GOLD STANDARD % 1OO WHEY DELICIOUS STRAWBERRY 5 LBS</p>
                        <p class="description-product-price">Precio $1,500</p>
                    </section>
                </article>
                <article class="product-car">
                    <figure>
                        <img src="/img/img-carrito-2.jpg" alt="imagen de proteina 2"   class="img-product-car">
                    </figure>
                    <section class="description-car-product">
                        <p class="description-product-proteina-1">Elemental Performance 100% Whey Protein</p>
                        <p class="description-product-price">Precio $2,000</p>
                    </section>
                </article>
            </section>
            <section class="button-compra-main">
                <section class="total-payment">
                    <p>Total a pagar</p>
                    <p>$3,500</p>
                </section>
                <button class="button-compra">Comprar Ahora</button>
            </section>
        </section>
    </main> 
        <footer>
            <div class="main-footer">
                <nav class="navbar-footer">
                    <ul>
                        <li><a href="#" class="text-navbar-footer" title="Contactanos">Contactanos</a></li>
                        <li><a href="#" class="text-navbar-footer" title="Inicia Sesión">Ventas empresariales</a></li>
                        <li><a href="#" class="text-navbar-footer" title="Mi Cuenta">Preguntas frecuentes</a></li>
                        <li><a href="#" class="text-navbar-footer" title="Carrito">Servicio al cliente</a></li>
                        <li><a href="#" class="text-navbar-footer" title="Sobre nosotros">Términos y condiciones</a></li>
                        <li><a href="#" class="text-navbar-footer" title="Terminos y condiciones">Avisos de privacidad</a></li>
                    </ul>    
                </nav>
                <div class="div-social-media">
                    <section class="logos-redes-sociales">
                        <a href="#" title="Facebook" target="_blank" class="settings-social-media">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="#" title="Instagram" target="_blank" class="settings-social-media">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="#" title="Twitter" target="_blank" class="settings-social-media">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </section>
                    <section class="main-footer-logo">
                        <figure class="footer-logo">
                            <a href="www.google.com" >
                                <img src="/img/Supplement-sports.png" alt="logo" class="logo-footer">
                            </a>
                        </figure>
                    </section>
                </div>
            </div>
            <section class="terms-and-conditions">
                <p>©Supplementsports 2023 - Tienda de Suplementos, deporte y estilo de vida. Todos los derechos reservador.</p>
            </section>
        </footer>
    </body>
</html>